* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.login-form {
  width: 100%;
}

.login-form-title {
  display: block;
  font-size: 30px;
  color: azure;
  
  line-height: 2;
  text-align: center;
}

.logo {
  width: 100%;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 26px;

  background: -webkit-linear-gradient(180deg, #21d4fd, #b721ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  margin-bottom: 30px;


  background-size: 200% 200%;
  animation: gradientAnimation 5s linear infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.wrap-input {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #ADADAD;
  margin-bottom: 37px;
}

.input {
  font-size: 15px;
  color: #FFF;
  line-height: 1.2;
  border: none;
  display: block;

  width: 100%;
  height: 45px;

  background-color: transparent;

  padding: 0 5px;
}

.focus-input {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;

  top: 0;
  left: 0;

  pointer-events: none;
  color: #ADADAD;
}

.focus-input::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  transition: all 0.4s;		
  background: #6a7dfe;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  background: -webkit-linear-gradient(to left, #21d4fd, #b721ff);
  background: -o-linear-gradient(to left, #21d4fd, #b721ff);
  background: -moz-linear-gradient(to left, #21d4fd, #b721ff);
  background: linear-gradient(to left, #21d4fd, #b721ff);
}

.focus-input::after {
  font-size: 15px;
  color: #999999;
  line-height: 1.2;

  content: attr(data-placeholder);

  display: block;
  width: 100%;
  position: absolute;
  top: 15px;
  left: 0px;

  padding-left: 5px;

  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

.input:focus {
  outline: 0;
}

.input:focus+.focus-input::after {
  top: -15px;
}

.input:focus+.focus-input::before {
  width: 100%;
}

.has-val+.focus-input::after {
  top: -15px;
}

.has-val+.focus-input::before {
  width: 100%;
}


.container-login-form-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 13px;
}

.login-form-btn {
  font-size: 15px;
  border: none;
  border-radius: 10px;
  color: #FFF;
  
  line-height: 1.2;
  
  text-transform: uppercase;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 50px;

  background: linear-gradient(to left, #21d4fd, #b721ff);
  background: -webkit-linear-gradient(to left, #21d4fd, #b721ff);
  background: -o-linear-gradient(to left, #21d4fd, #b721ff);
  background: -moz-linear-gradient(to left, #21d4fd, #b721ff);

  background-size: 200% 200%;
  animation: logoAnimation 5s linear infinite;
}

.login-form-btn:hover {
  cursor: pointer;
}

.login-form-btn:active {
  transform: translateY(1px);
  animation: logoAnimation 1s ease-out infinite;
}

@keyframes logoAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} 

.text-center {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 25px;
}

.text1 {
  font-size: 14px;
  color: #ADADAD;
  line-height: 1.5;
  text-decoration: none;
  padding-right: 5px;
}

.text2 {
  font-size: 14px;
  color: #6a7dfe;
  line-height: 1.5;
  text-decoration: none;
}
